:root {
    /* font-family */
	--font-family: "Open Sans", sans-serif;
	--second-family: "NAMU", sans-serif;

    /* container */
    --container-width: 1262px;
    --container-padding: 20px;
}
