.news {
	margin-bottom: clamp(46px, 1.164rem + 9.12vw, 150px);
}

.news__content {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: clamp(10px, 0.405rem + 0.94vw, 20px);
	padding-top: clamp(30px, 0.995rem + 3.76vw, 70px);
}

.news__contents {
	margin-bottom: 10px;
}

.news__contents.news__contents-delete {
	display: none;
}

@media (width <= 992px) {
	.news__content {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (width <= 575px) {
	.news__content {
		grid-template-columns: repeat(2, 1fr);
	}
}

.news__date {
	padding-top: clamp(10px, 0.185rem + 1.88vw, 30px);
	padding-bottom: clamp(6px, 0.067rem + 1.31vw, 20px);
	font-size: clamp(8px, 0.168rem + 0.92vw, 16px);
	color: #909090;
}

@media (width <= 575px) {
	.news__date {
		font-size: clamp(5px, -0.097rem + 2.18vw, 11px);
	}
}

.news__title-new {
	padding-bottom: clamp(6px, 0.177rem + 0.85vw, 15px);
	font-weight: 600;
	font-family: var(--font-family);
	font-size: clamp(13px, 0.397rem + 1.16vw, 23px);
}

@media (width <= 575px) {
	.news__title-new {
		font-size: clamp(10px, -0.125rem + 4vw, 21px);
	}
}

.news__description {
	padding-bottom: clamp(6px, 0.067rem + 1.31vw, 20px);
	font-size: clamp(13px, 0.605rem + 0.58vw, 18px);
}

@media (width <= 575px) {
	.news__description {
		font-size: clamp(8px, 0.295rem + 1.09vw, 11px);
	}
}

.news__link {
	color: #c5358c;
	border-bottom: 2px solid #c5358c;
	font-weight: 400;
	transition:
		color 0.4s,
		border-color 0.4s;
}

.news__link:hover {
	color: #8a0153;
	border-color: #8a0153;
}

.news__button-more {
	display: flex;
	justify-content: center;
	padding-top: clamp(30px, 0.775rem + 4.69vw, 80px);
}

.news__more {
	display: inline-flex;
	align-items: center;
	gap: clamp(20px, 1.03rem + 0.94vw, 30px);
	border: 1px solid #111;
	border-radius: 3px;
	padding: clamp(5px, 0.202rem + 0.47vw, 10px)
		clamp(10px, 0.405rem + 0.94vw, 20px);
	font-size: clamp(13px, 0.57rem + 1.03vw, 24px);
	font-weight: 400;
	transition:
		border-color 0.4s,
		color 0.4s;
	color: #111;
}

.news__more:hover {
	border-color: #c5358c;
	color: #c5358c;
}

@media (width <= 575px) {
	.news__delate {
		display: none;
	}
}

.reviews__arrow-bottom {
	width: clamp(15px, 0.827rem + 0.47vw, 20px);
}

#arrow {
	transition: all 0.3s;
}

#arrow.collapsed {
	transform:;
}
