.page {
	font-family: var(--second-family);
}

.page__body {
	min-width: 375px;
	min-height: 200vh;
	overflow-x: hidden;
}

.page__body--no-scroll {
	overflow-y: hidden;
}

.container {
	width: min(var(--container-width), 100% - var(--container-padding) * 2);
	margin: 0 auto;
}

.title__medium {
	font-weight: 900;
	font-size: clamp(25px, 1.283rem + 1.49vw, 42px);
}

.title__sm {
	/* min-width 375px, max-width 992px */
	font-size: clamp(9px, 0.316rem + 1.32vw, 24px);
	line-height: 140%;
}

.title__xs {
	/* min-width 375px, max-width 992px */
	font-size: clamp(11px, 0.572rem + 0.61vw, 18px);
	font-family: var(--font-family);
	line-height: 140%;
}

.description__xs,
.title__xs {
	font-weight: 300;
	line-height: 140%;
}

.description__xs,
.title__sm,
.description__sm {
	font-family: var(--font-family);
	line-height: 140%;
}

.description__sm,
.title__sm {
	font-weight: 400;
	line-height: 140%;
}

.description__md {
	font-weight: 500;
}

a {
	color: #111;
}