@media (width > 992px) {
	.Air-Mag {
		padding-bottom: 93px;
	}
	.Air-Mag__title {
		margin-bottom: 10px;
	}
}

@media (width <= 992px) {
	.Air-Mag {
		padding-bottom: 80px;
	}
}

.Air-Mag__title {
	margin-bottom: 13px;
}

.Air-Mag__description {
	display: flex;
	gap: 13px;
}

.Air-Mag__description::before {
	display: block;
	content: "";
	flex-shrink: 0;
	width: 131px;
	height: 39px;
	background-image: url(../../icons/rectangle-decor-icon.svg);
	transform: translateX(-13px);
}

@media (width > 768px) {
	.Air-Mag__description {
		margin-bottom: 20px;
	}
}

@media (width <= 768px) {
	.Air-Mag__description {
		margin-bottom: 15px;
		flex-direction: column;
	}
}

.Air-Mag__info-wrapper {
	display: flex;
}

@media (width > 992px) {
	.Air-Mag__info-wrapper {
		gap: 40px;
	}
}

@media (width <= 992px) {
	.Air-Mag__info-wrapper {
		flex-direction: column;
	}
}

.Air-Mag__img {
	width: 100%;
}

.Air-Mag__info-list {
	display: flex;
	flex-direction: column;
}

@media (width > 992px) {
	.Air-Mag__info-list {
		gap: 40px;
		flex-shrink: 0;
		max-width: 293px;
		transform: translateY(77px);
	}
}

@media (width <= 992px) {
	.Air-Mag__info-list {
		gap: 20px;
		max-width: 700px;
	}
}

.Air-Mag__info-item::before {
	display: block;
	content: "";
	flex-shrink: 0;
	width: 45px;
	height: 33px;
	margin-bottom: 5px;
	background-image: url(../../icons/double-checkbox-icon.svg);
	transform: translateX(-8px);
}
