.advantages {
	margin-bottom: clamp(46px, 1.164rem + 9.12vw, 150px);
}

.advantages__characteristics-title {
	padding-bottom: clamp(30px, 1.382rem + 2.63vw, 60px);
	font-size: clamp(23px, 1.125rem + 1.67vw, 42px);
}

.advantages__specifications {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

@media (width < 992px) {
	.advantages__specifications {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (width < 575px) {
	.advantages__specifications {
		grid-template-columns: repeat(1, 1fr);
	}
}

.advantages__characteristics {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow:
		0 0 30px 0 rgba(0, 0, 0, 0.05),
		0 0 30px 0 rgba(0, 0, 0, 0.05);
}

@media (width < 575px) {
	.advantages__characteristics {
		justify-content: center;
		flex-direction: row;
		gap: 43px;
	}
}

.advantages__characteristics-text {
	padding-top: clamp(11px, 0.521rem + 0.46vw, 15px);
	padding-bottom: clamp(30px, 1.21rem + 1.85vw, 46px);
}

.advantages__characteristics-icon {
	display: flex;
	justify-self: center;
	padding-top: 1rem;
}

.advantages__characteristics-subtitle {
	text-align: center;
	padding-bottom: clamp(8px, 0.292rem + 0.58vw, 13px);
}

.advantages__characteristics-description {
	text-align: center;
}
