.banner {
	position: relative;
	top: 80px;
	height: 850px;
	background-color: #ddd;
}

.banner__title {
	max-width: 556px;
	margin: 0;
}

.banner__img {
	position: absolute;
	left: 50%;
}
