.banner {
	position: relative;
	top: 75px;
	height: 850px;
	background-color: #ddd;
}

.banner__container {
	display: flex;
	
	align-items: center;
}

.banner__title {
	position: relative;
	top: 250px;
	left: 280px;
	font-size: 46px;
	font-weight: 600;
}

.banner__description {
	position: relative;
	top: 384px;
	left: 280px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 26px;
}

.banner__img {
	position: absolute;
	left: 49%;
	top: 0;
}
