.connection {
	background-color: #f8f8f8;
}

.connection__container {
	display: flex;
	padding-top: 150px;
	gap: clamp(1.5rem, -2.821rem + 12.02vw, 8rem);
	padding-bottom: clamp(45px, 1.727rem + 5.79vw, 111px);
}

@media (width <= 575px) {
	.connection__container {
		flex-direction: column;
		gap: clamp(3rem, 1.909rem + 5.82vw, 4rem);
	}
}

.connection__form {
	display: flex;
	flex-direction: column;
}

.connection__fieldset {
	border: none;
	padding: 0;
	margin: 0;
	font-size: clamp(19px, 0.232rem + 2.66vw, 42px);
}

@media (width <= 575px) {
	.connection__fieldset {
		font-size: clamp(16px, -0.364rem + 7.27vw, 36px);
	}
}

.connection__input {
	display: inline-block;
	border: none;
	border-bottom: 1px solid #111;
	padding-top: 30px;
	padding-bottom: 15px;
	width: clamp(16rem, 5.364rem + 29.6vw, 32rem);
}

@media (width <= 575px) {
	.connection__input {
		width: clamp(16rem, -2.545rem + 98.91vw, 33rem);
	}
}

.connection__button {
	padding-top: clamp(36px, 1.691rem + 2.98vw, 70px);
}

.connection__button-subscribe {
	padding-top: clamp(36px, 1.691rem + 2.98vw, 70px);
	padding-bottom: clamp(16px, 0.819rem + 0.96vw, 27px);
}

.connection__application {
	color: #fff;
	background-color: #111;
	border-radius: 3px;
	padding: 10px;
}

.connection__checkbox-label {
	padding-left: 16px;
}

.connection__checkbox-label:checked::after {
}

.connection__checkbox-check {
	position: relative;
	top: 7px;
	right: 7px;
	stroke-dasharray: 20px;
	stroke-dashoffset: 20px;
	transition: stroke-dashoffset 0.4s;
}

.connection__input {
	background-color: #f8f8f8;
}

.connection__checkbox {
	appearance: none;
}

.connection__checkbox:checked::after {
	background-image: url(xmlns="http://www.w3.org/2000/svg"viewBox="0 0 11 7"<pathfill-rule="evenodd"clip-rule="evenodd"d="M10.8047 0.186387C11.0651 0.434902 11.0651 0.837825 10.8047 1.08634L4.80474 6.81361C4.54439 7.06213 4.12228 7.06213 3.86193 6.81361L0.195262 3.31361C-0.0650874 3.0651 -0.0650874 2.66217 0.195262 2.41366C0.455612 2.16514 0.877722 2.16514 1.13807 2.41366L4.33333 5.46368L9.86193 0.186387C10.1223 -0.0621289 10.5444 -0.0621289 10.8047 0.186387Z"fill="#C5358C"/>);
}

.connection__checkbox::after {
	content: "";
	position: absolute;
	border: 1px solid #111;
	border-radius: 3px;
	width: 22px;
	height: 22px;
	margin-left: -28px;
	margin-top: -7px;
	cursor: pointer;
}

.connection__checkbox:checked::after {
	background: url(../);
}

.connection__checkbox-text {
	font-size: 10px;
}

.connection__checkbox-texti {
	padding-left: 36px;
}
