.connection {
	background-color: #f8f8f8;
}

.connection__container {
	display: flex;
	padding-top: 150px;
	gap: 135px;
    padding-bottom: 111px;
}

.connection__form {
	display: flex;
	flex-direction: column;
}

.connection__fieldset {
	border: none;
}

.connection__input {
	display: inline-block;
	border: none;
	border-bottom: 1px solid #111;
	padding-top: 30px;
	padding-bottom: 15px;
	width: 555px;
}

.connection__button {
	padding-top: 70px;
}

.connection__button-subscribe {
	padding-top: 70px;
	padding-bottom: 27px;
}

.connection__application {
	color: #fff;
	background-color: #111;
	border-radius: 3px;
	padding: 10px;
}

.connection__checkbox-label {
	padding-left: 22px;
}

.connection__input {
	background-color: #f8f8f8;
}

.connection__checkbox {
	appearance: none;
}

.connection__checkbox::after {
	content: "";
	position: absolute;
	border: 1px solid #111;
	border-radius: 3px;
	width: 20px;
	height: 20px;
	margin-left: -22px;
	margin-top: -10px;
	cursor: pointer;
}

.connection__checkbox:checked::after {
	background:url(../) ;
}

.connection__checkbox-text {
	padding-left: 16px;
	font-size: 10px;
}
