.expert-opinion {
	background-color: #f8f8f8;
}

.expert-opinion__container {
    display: flex;
    justify-content: space-between;
}

.expert-opinion__content {
    display: flex;
    flex-direction: column;
}

.expert-opinion__title-bg {
    font-size: 37px;
    padding-top: clamp(46px, 2.496rem + 2.02vw, 60px);
}

.expert-opinion__title-md {
    font-size: 34px;
    padding-top: clamp(30px, 1.604rem + 1.45vw, 40px);
}

.expert-opinion__title-sm {
    font-size: 33px;
    padding-top: clamp(30px, 1.604rem + 1.45vw, 40px);
}

.expert-opinion__title-xs {
    font-size: 32px;
    padding-top: clamp(30px, 1.604rem + 1.45vw, 40px);
}

@media (width <= 992px) {
    .expert-opinion__title-bg, 
    .expert-opinion__title-md, 
    .expert-opinion__title-sm, 
    .expert-opinion__title-xs {
        padding-bottom: 12px;
    } 
}

@media (width <= 575px) {
    .expert-opinion__title-bg, 
    .expert-opinion__title-md, 
    .expert-opinion__title-sm, 
    .expert-opinion__title-xs {
        padding-bottom: 14px;
    } 
}

.expert-opinion__description {
    font-size: 18px;
}

.expert-opinion__title {
    padding-top: 150px;
    padding-bottom: 40px;
    font-size: clamp(21px, -0.21rem + 2.46vw, 32px);
}

@media (width < 992px) {
    .expert-opinion__title {
        font-size: clamp(14px, 0.252rem + 3.32vw, 37px); 
        padding-top: clamp(46px, 2.496rem + 2.02vw, 60px);
        padding-bottom: clamp(46px, 2.225rem + 3.47vw, 70px);
    }
}

.expert-opinion__item {
    padding-bottom: 20px;
    font-size: clamp(11px, 0.134rem + 0.89vw, 15px);
}

@media (width < 992px) {
    .expert-opinion__item {
        font-size: clamp(9px, 0.319rem + 1.3vw, 18px); 
    }

.expert-opinion__img {
    margin-top: 6rem;
    width: clamp(33rem, 15.286rem + 28.57vw, 41rem);
}

@media (width < 992px) {
    .expert-opinion-img--delate {
        display: none;
    }
}

@media (width > 992px) {
    .expert-opinion__content-delate {
        display: none;
    }
}