.faq {
	position: relative;
	top: 75px;
	padding-bottom: 150px;
	background: url(../);
}
.faq__background {
	background-color: #f8f8f8;
}

.faq__title {
	padding-top: 150px;
	border-bottom: 1px solid #111;
	padding-bottom: 59px;
}

.faq__accordion {
	display: inline-block;
}

.faq__details {
	align-items: center;
}

.faq__summary {
	display: inline-flex;
	justify-content: space-between;
	padding-top: 34px;
	padding-bottom: 34px;
	font-size: 20px;
	font-weight: 400;
	border-bottom: 1px solid #111;
}

.faq__unwrap {
	text-align: center;
}
