.footer {
	background-color: #111;
}

.footer__logo {
    padding-top: 50px;
}

.footer__titl {
	color: #fff;
	padding-top: 25px;
}

.footer__title {
	color: #fff;
	padding-bottom: 10px;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 25px;
}

.footer__list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.footer__link {
	color: #fff;

}

.footer__copyright {
    position: relative;
    top: -38px;
    display: flex;
    justify-content: flex-end;
	color: #fff;
}

.footer__network {
	display: flex;
	gap: 20px;
	padding-top: 54px;
}
