.header {
	position: fixed;
	background-color: #111111;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.header__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: clamp(25px, -1.215rem + 5.79vw, 50px);
	align-items: center;
	justify-content: space-between;
}

.header__actions-icon--menu {
	stroke: #fff;
	transition: stroke 0.4s;
	width: clamp(30px, 1.711rem + 0.88vw, 40px);
}

.header__actions-icon--menu:hover {
	stroke: #c5358c;
}

@media (width > 768px) {
	.burger {
		display: none;
	}
}

@media (width <= 768px) {
	.burger {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
	}
}

@media (width >= 992px) {
	.header__menu {
		display: flex;
	}
}

@media (width <= 768px) {
	.header__menu {
		position: fixed;
		top: 0;
		left: -100vh;
		bottom: 0;
		z-index: 1;
		width: clamp(172px, 7.363rem + 18.06vw, 297px);
		padding: 144px 15px 0;
		padding-top: 90px;
		padding-left: 15px;
		background-color: #111111;
		opacity: 0;
		overflow-y: auto;
		visibility: hidden;
	}

	.header__menu--open {
		left: 0;
		opacity: 1;
		visibility: visible;
	}

	.header__menu .menu__list {
		flex-direction: column;
		justify-content: flex-start;
		text-align: left;
		align-items: start;
	}
}

.header__control {
	display: flex;
	align-items: center;
	gap: clamp(10px, 0.132rem + 2.63vw, 40px);
}

.header__controls {
	display: flex;
	justify-content: center;
	/* margin-left: 30px; */
}

.header__logo {
	width: clamp(94px, 4.411rem + 7.81vw, 183px);
}

.header__actions {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: clamp(5px, -0.045rem + 0.74vw, 10px);
}

.header__actions-cart {
	width: clamp(24px, 1.303rem + 1.05vw, 40px);
}