.menu__list {
	display: flex;
	gap: clamp(15px, -0.134rem + 2.23vw, 30px);
	justify-content: center;
	align-items: center;
	font-size: clamp(10px, -0.089rem + 1.49vw, 20px);
}

.menu__link {
	font-size: clamp(11px, 0.045rem + 1.34vw, 20px);
	color: #fff;
}
