.news {
    position: relative;
    top: 75px;
    margin-bottom: 150px;
}

.news__content {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: clamp(10px, 0.405rem + 0.94vw, 20px);
	padding-top: clamp(30px, 0.995rem + 3.76vw, 70px);
}

@media (width <= 992px) {
	.news__content {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (width <= 575px) {
	.news__content {
		grid-template-columns: repeat(2, 1fr);
	}
}

.news__date {
	padding-top: 30px;
	padding-bottom: 20px;
}

.news__title-new {
	padding-bottom: 15px;
}

.news__description {
	padding-bottom: 20px;
}

.news__link {
	color: #;
}

.news__button-more {
	display: flex;
	justify-content: center;
	padding-top: 80px;
}

@media (width <= 575px) {
	.news__delate {
		display: none;
	}
}
