.section {
	margin-bottom: clamp(46px, 1.164rem + 9.12vw, 150px);
}

.section__categories {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: clamp(10px, 0.405rem + 0.94vw, 20px);
}

.section__category {
	box-shadow:
		0 0 30px 0 rgba(0, 0, 0, 0.05),
		0 0 30px 0 rgba(0, 0, 0, 0.05);
}

@media (width <= 575px) {
	.section__categories {
		grid-template-columns: repeat(2, 1fr);
	}
}

.section__category-content {
	transition: background-color 0.6s;
}

.section__category-content:hover {
	background-color: #111;
	color: #fff;
}

.section__category-title {
	padding: 19px 40px 11px;
	font-size: clamp(13px, 0.106rem + 1.97vw, 30px);
}

@media (width <= 992px) {
	.section__category-title {
		padding: 19px 25px 11px;
	}
}

@media (width <= 768px) {
	.section__category-title {
		padding: clamp(5px, 0.105rem + 0.58vw, 10px)
			clamp(10px, 0.293rem + 0.92vw, 18px) clamp(0px, -0.208rem + 0.58vw, 5px);
	}
}

@media (width < 575px) {
	.section__category-title {
		padding: clamp(5px, -0.028rem + 1.82vw, 10px)
			clamp(10px, -0.057rem + 3.64vw, 20px) clamp(0px, -0.545rem + 2.91vw, 8px);
		font-size: clamp(13px, 0.131rem + 3.64vw, 23px);
	}
}

.section__category-description {
	display: inline-flex;
	padding: 0 40px 30px;
	align-items: center;
	gap: clamp(8px, 0.236rem + 1.13vw, 20px);
	font-size: clamp(10px, 0.043rem + 1.62vw, 24px);
	font-family: var(--font-family);
	fill: #111;
	transition: transform 0.4s;
}

.section__category-description:hover {
	transform: translateX(10px);
}

@media (width <= 992px) {
	.section__category-description {
		padding: 0 25px 30px;
	}
}

@media (width <= 768px) {
	.section__category-description {
		padding: 0 clamp(10px, 0.293rem + 0.92vw, 18px)
			clamp(10px, 0.417rem + 0.58vw, 15px);
	}
}

@media (width < 575px) {
	.section__category-description {
		padding: 0 clamp(10px, -0.057rem + 3.64vw, 20px)
			clamp(10px, 0.216rem + 2.18vw, 16px);
		font-size: clamp(11px, 0.006rem + 3.64vw, 21px);
	}
}

@media (width <= 768px) {
	.section__category-icon {
		width: clamp(11px, 0.628rem + 0.25vw, 12px);
		height: auto;
	}
}
