.custom-select {
	position: relative;
}

.select-header {
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-radius: 7px;
	cursor: pointer;
	background-color: #fff;
	transition: border-color 0.3s;
}

.select-header:hover {
	border-color: #aaa;
}

.arrow {
	transition: transform 0.3s;
}

.select-options {
	position: absolute;
	top: 3rem;
	right: 0;
	max-height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: all 1s ease;
}

.select-options li {
	padding: 10px 15px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.select-options li:hover {
	background-color: #f5f5f5;
}

.custom-select.active .select-options {
	max-height: 300px;
	border-radius: 7px;
	border-color: #ddd;
	border-top: none;
}

.custom-select.active .arrow {
	transform: rotate(180deg);
}
