.special-offers {
	position: relative;
	top: 75px;
	background-color: #f8f8f8;
	margin-top: 150px;
}

.special-offers__title {
	padding-top: 150px;
	padding-bottom: 50px;
}

.special-offers__accent {
	color: #c5358c;
}

.special-offers__link {
	position: relative;
	top: 15px;
	display: flex;
	justify-content: flex-end;
}

.special-offers__details {
	padding-left: 120px;
}

.special-offers__list {
	display: flex;
	gap: 20px;
	padding-bottom: 57px;
	flex-wrap: wrap;
}

.special-offers__item {
	border: 1px solid #111;
	border-radius: 31px;
	padding: 6px 10px 7px;
}

.special-offers__form {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 40px;
}

.special-offers__filter {
	border: 1px solid #c5358c;
	border-radius: 3px;
	padding: 7px 2px 8px;
}

.special-offers__products {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
	gap: 20px;
	background-color: #fff;
}

@media (width <= 992px) {
	.special-offers__products {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (width <= 768px) {
	.special-offers__products {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (width <= 575px) {
	.special-offers__products {
		grid-template-columns: repeat(2, 1fr);
	}
}

.special-offers__product {
	box-shadow:
		0 0 30px 0 rgba(0, 0, 0, 0.05),
		0 0 30px 0 rgba(0, 0, 0, 0.05);
}

.special-offers__description {
	padding-left: clamp(10px, -0.035rem + 2.82vw, 40px);
	padding-bottom: clamp(11px, 0.093rem + 2.54vw, 38px);
	font-weight: 300;
	font-family: var(--font-family);
	color: #111;
	font-size: clamp(14px, 0.446rem + 0.89vw, 20px);
}

@media (width <= 768px) {
	.special-offers__description {
		font-size: clamp(10px, -0.12rem + 2.07vw, 14px);
	}
}

@media (width <= 575px) {
	.special-offers__description {
		font-size: clamp(10px, -0.078rem + 3vw, 16px);
	}
}

@media (width <= 375px) {
	.special-offers__description {
		font-size: clamp(5px, -0.243rem + 3.7vw, 10px);
	}
}

.special-offers__statutes-list {
	padding-left: clamp(10px, -0.035rem + 2.82vw, 40px);
	font-weight: 400;
	font-size: 18px;
	color: #68ae5c;
	list-style-position: inside;
}

.special-offers__statutes-item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.special-offers__statutes-item::before {
	content: "";
	width: 10px;
	height: 10px;
	background: #68ae5c;
	border-radius: 50%;
}

.special-offers__statutes-item::marker {
	display: flex;
	justify-self: center;
	align-items: center;
	font-size: 35px;
}

.special-offers__div {
	position: relative;
	top: -30px;
	right: clamp(12px, -0.629rem + 3.84vw, 28px);
	display: flex;
	justify-content: flex-end;
}

.special-offers__discount {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: clamp(5px, 0.151rem + 0.99vw, 10px);
	padding-right: clamp(10px, 0.301rem + 1.98vw, 20px);
	padding-left: clamp(10px, 0.301rem + 1.98vw, 20px);
	padding-bottom: clamp(5px, 0.151rem + 0.99vw, 10px);
	border-radius: 3px;
	background-color: #c5358c;
	color: #fff;
}

.special-offers__price {
	position: relative;
	top: -10px;
	padding-left: clamp(10px, -0.035rem + 2.82vw, 40px);
	color: #111;
}

.special-offers__old-price {
	padding-left: 40px;
	padding-top: 0px;
	text-decoration: line-through;
	color: #ababab;
	padding-bottom: 107px;
}

.special-offers__footer {
	display: flex;
	align-items: flex-end;
	height: 95px;
}

.special-offers__number {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border: 1px solid #111;
	border-radius: 3px;
	padding: 10px;
	width: 100%;
}

@media (width <= 992px) {
	.special-offers__number {
		display: none;
	}
}

.special-offers__cart {
	width: 100%;
	border-radius: 3px;
	padding: 10px;
	color: #fff;
	background-color: #111;
}

.special-offers__arrow-button {
	display: flex;
	padding-top: 130px;
	gap: 20px;
}

.special-offers__arrow {
	border: 1px solid #111;
	border-radius: 3px;
	padding: 10px 0px;
	width: 64px;
	height: 64px;
}

.special-offers__slider-button--next {
	transform: translateY(-6%) rotate(180deg);
}

.special-offers__arrow-right {
	border: 1px solid #111;
	border-radius: 3px;
	padding: 10px 0px;
	width: 64px;
	height: 64px;
}

.special-offers__pages {
	position: relative;
	top: 20px;
	left: 10px;
}

@media (width <= 992px) {
	.special-offers__delate {
		display: none;
	}
}

@media (width <= 575px) {
	.special-offers__product-delate {
		display: none;
	}
}
