.special-offers {
	background-color: #f8f8f8;
	margin-bottom: clamp(46px, 1.164rem + 9.12vw, 150px);
}

.special-offers__title {
	padding-top: clamp(30px, -0.766rem + 11.27vw, 150px);
	padding-bottom: clamp(20px, 0.59rem + 2.82vw, 50px);
	font-size: clamp(24px, 1.204rem + 1.58vw, 42px);
}

.special-offers__accent {
	color: #c5358c;
}

.special-offers__header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.special-offers__button :hover {
	border-color: #c5358c;
	color: #c5358c;
}

.special-offers__list {
	display: flex;
	gap: 20px;
	padding-bottom: clamp(17px, 0.52rem + 2.89vw, 50px);
	flex-wrap: wrap;
}

.special-offers__item {
	border: 1px solid;
	border-radius: 31px;
	padding: 6px 10px 7px;
	font-size: clamp(12px, -0.08rem + 1.34vw, 18px);
	transition:
		border-color 0.4s,
		color 0.4s;
}

@media (width <= 992px) {
	.special-offers__item {
		font-size: clamp(13px, -0.473rem + 2.68vw, 19px);
	}
}

@media (width <= 768px) {
	.special-offers__item {
		font-size: clamp(8px, -0.431rem + 2.59vw, 13px);
	}
}

@media (width <= 575px) {
	.special-offers__item {
		font-size: clamp(12px, -0.07rem + 3.5vw, 19px);
	}
}

@media (width <= 375px) {
	.special-offers__item {
		font-size: clamp(8px, -0.5rem + 5.33vw, 12px);
	}
}

.special-offers__details {
	display: flex;
	align-items: start;
	font-size: clamp(12px, 0.473rem + 0.45vw, 14px);
	margin-left: clamp(2.5rem, 0.432rem + 5.76vw, 4rem);
}

@media (width <= 992px) {
	.special-offers__details {
		padding-top: 12px;
		font-size: clamp(12px, 0.321rem + 0.89vw, 14px);
	}
}

@media (width <= 768px) {
	.special-offers__details {
		padding-top: 12px;
		font-size: clamp(10px, 0.253rem + 1.04vw, 12px);
	}
}

@media (width <= 575px) {
	.special-offers__details {
		font-size: clamp(10px, 0.216rem + 2.18vw, 16px);
		margin-left: clamp(3rem, -1.364rem + 23.27vw, 7rem);
	}
}

.special-offers__details-description {
	border-bottom: 1px solid #c5358c;
	color: #c5358c;
}

.special-offers__details-description:hover {
	box-shadow:
		0 0 30px 0 #c5358c,
		0 0 30px 0 #c5358c;
}

.special-offers__form {
	display: flex;
	justify-content: flex-end;
	padding-bottom: clamp(30px, 1.46rem + 1.16vw, 40px);
	transition:
		color 0.4s,
		border-color 0.4s;
}

.special-offers__form:hover {
	color: #c5358c;
	border-color: #c5358c;
}

@media (width <= 575px) {
	.special-offers__form {
		padding-bottom: 39px;
	}
}

.special-offers__filter {
	border: 1px solid #c5358c;
	border-radius: 3px;
	padding: 7px clamp(13px, 0.368rem + 2.37vw, 40px) 8px;
}

@media (width <= 375px) {
	.special-offers__filter {
		font-size: clamp(11px, -0.313rem + 5.33vw, 15px);
	}
}

.special-offers__products {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
	gap: 20px;
	background-color: #fff;
}

@media (width <= 992px) {
	.special-offers__products {
		/* min-width 768px, max-width 992px */
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (width <= 768px) {
	.special-offers__products {
		/* min-width 575px, max-width 768px */
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (width <= 575px) {
	.special-offers__products {
		/* min-width 375px, max-width 575px */
		grid-template-columns: repeat(2, 1fr);
	}
}

.special-offers__product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow:
		0 0 30px 0 rgba(0, 0, 0, 0.05),
		0 0 30px 0 rgba(0, 0, 0, 0.05);
}

@media (width <= 992px) {
	.special-offers__img-2 {
		padding-bottom: clamp(16px, 0.571rem + 0.89vw, 18px);
	}
}

@media (width <= 768px) {
	.special-offers__img-2 {
		padding-bottom: clamp(11px, -0.244rem + 2.59vw, 16px);
	}
}

@media (width <= 575px) {
	.special-offers__img-2 {
		padding-bottom: clamp(11px, -0.133rem + 3.5vw, 18px);
	}
}

@media (width <= 375px) {
	.special-offers__img-2 {
		padding-bottom: clamp(8px, -0.25rem + 4vw, 11px);
	}
}

.special-offers__description {
	padding-left: clamp(10px, -0.035rem + 2.82vw, 40px);
	padding-bottom: clamp(11px, 0.093rem + 2.54vw, 38px);
	color: #111;
	font-size: clamp(14px, 0.446rem + 0.89vw, 20px);
}

@media (width <= 768px) {
	.special-offers__description {
		/* min-width 575px, max-width 768px */
		font-size: clamp(10px, -0.12rem + 2.07vw, 14px);
	}
}

@media (width <= 575px) {
	.special-offers__description {
		/* min-width 375px, max-width 575px */
		font-size: clamp(10px, -0.078rem + 3vw, 16px);
	}
}

@media (width <= 375px) {
	.special-offers__description {
		/* min-width 300px, max-width 375px */
		font-size: clamp(5px, -0.243rem + 3.7vw, 10px);
	}
}

.special-offers__divi {
	display: flex;
	gap: clamp(3rem, -8.071rem + 17.86vw, 8rem);
	align-items: center;
}

@media (width <= 992px) {
	.special-offers__divi {
		/* min-width 768px, max-width 992px */
		gap: clamp(2rem, -1.429rem + 7.14vw, 3rem);
	}
}

@media (width <= 768px) {
	.special-offers__divi {
		/* min-width 575px, max-width 768px */
		gap: clamp(1.5rem, 0.01rem + 4.15vw, 2rem);
	}
}

@media (width <= 575px) {
	.special-offers__divi {
		/* min-width 375px, max-width 575px */
		gap: clamp(1.5rem, -2.25rem + 16vw, 3.5rem);
	}
}

@media (width <= 375px) {
	.special-offers__divi {
		/* min-width 300px, max-width 375px */
		gap: clamp(0.5rem, -5.5rem + 32vw, 2rem);
	}
}

.special-offers__statutes-list {
	padding-left: clamp(10px, -0.035rem + 2.82vw, 40px);
	color: #68ae5c;
	list-style-position: inside;
}

.special-offers__statutes-item {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: clamp(10px, 0.293rem + 0.92vw, 18px);
}

@media (width <= 575px) {
	.special-offers__statutes-item {
		font-size: clamp(10px, -0.078rem + 3vw, 16px);
	}
}

@media (width <= 375px) {
	.special-offers__statutes-item {
		font-size: clamp(8px, 2.67vw, 10px);
	}
}

.special-offers__statutes-item::before {
	content: "";
	width: clamp(5px, 0.181rem + 0.7vw, 13px);
	height: clamp(5px, 0.181rem + 0.7vw, 13px);
	background: #68ae5c;
	border-radius: 100%;
}

.special-offers__statutes-item::marker {
	display: flex;
	justify-self: center;
	align-items: center;
	font-size: 35px;
}

.special-offers__div {
	display: flex;
	justify-content: flex-end;
}

.special-offers__discount {
	padding-top: clamp(5px, -0.118rem + 1.2vw, 10px);
	padding-right: clamp(10px, -0.237rem + 2.4vw, 20px);
	padding-left: clamp(10px, -0.237rem + 2.4vw, 20px);
	padding-bottom: clamp(5px, -0.118rem + 1.2vw, 10px);
	border-radius: 3px;
	background-color: #c5358c;
	color: #fff;
	font-size: clamp(12px, -0.629rem + 3.84vw, 28px);
}

@media (width <= 575px) {
	.special-offers__discount {
		padding-top: clamp(5px, -0.273rem + 2.5vw, 10px);
		padding-left: clamp(10px, -0.547rem + 5vw, 20px);
		padding-right: clamp(10px, -0.547rem + 5vw, 20px);
		padding-bottom: clamp(5px, -0.273rem + 2.5vw, 10px);
	}
}

@media (width <= 375px) {
	.special-offers__discount {
		padding-top: clamp(2px, -0.375rem + 2.67vw, 4px);
		padding-left: clamp(4px, -0.25rem + 2.67vw, 6px);
		padding-right: clamp(4px, -0.25rem + 2.67vw, 6px);
		padding-bottom: clamp(2px, -0.375rem + 2.67vw, 4px);
	}
}

.special-offers__price {
	padding-left: clamp(10px, -0.035rem + 2.82vw, 40px);
	color: #111;
	font-size: clamp(27px, 0.719rem + 1.56vw, 34px);
	padding-top: clamp(11px, 0.539rem + 0.79vw, 20px);
	padding-bottom: clamp(11px, 0.211rem + 2.54vw, 40px);
}

@media (width <= 992px) {
	.special-offers__price {
		/* min-width 768px, max-width 992px */
		font-size: clamp(22px, 0.304rem + 2.23vw, 27px);
	}
}

@media (width <= 768px) {
	.special-offers__price {
		/* min-width 575px, max-width 768px */
		font-size: clamp(17px, 0.131rem + 2.59vw, 22px);
	}
}

@media (width <= 375px) {
	.special-offers__price {
		font-size: clamp(12px, -0.5rem + 6.67vw, 17px);
	}
}

.special-offers__old-price {
	padding-left: clamp(1.5rem, -7.357rem + 14.29vw, 5.5rem);
	padding-top: 0px;
	text-decoration: line-through;
	color: #ababab;
	font-size: clamp(18px, 0.848rem + 0.45vw, 20px);
}

@media (width <= 992px) {
	.special-offers__old-price {
		/* min-width 768px, max-width 992px */
		padding-left: clamp(1rem, -0.714rem + 3.57vw, 1.5rem);
		font-size: clamp(13px, -0.259rem + 2.23vw, 18px);
	}
}

@media (width <= 768px) {
	.special-offers__old-price {
		/* min-width 575px, max-width 768px */
		padding-left: clamp(1rem, -0.714rem + 3.57vw, 1.5rem);
		font-size: clamp(11px, 0.315rem + 1.04vw, 13px);
	}
}

@media (width <= 575px) {
	.special-offers__old-price {
		/* min-width 375px, max-width 575px */
		padding-left: clamp(1rem, -9.313rem + 44vw, 6.5rem);
		font-size: clamp(10px, 0.508rem + 0.5vw, 11px);
	}
}

@media (width <= 375px) {
	.special-offers__old-price {
		/* min-width 300px, max-width 375px */
		padding-left: clamp(0.5rem, -1.5rem + 10.67vw, 1rem);
		font-size: clamp(8px, 2.67vw, 10px);
	}
}

.special-offers__footer {
	display: flex;
	align-items: flex-end;
}

.special-offers__number {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border: 1px solid #111;
	border-radius: 3px;
	padding: 10px;
	width: 100%;
	stroke: #111;
	transition:
		border-color 0.4s,
		stroke 0.4s,
		color 0.4s;
}

.special-offers__number:hover {
	border-color: #c5358c;
	color: #c5358c;
}

.special-offers__minus:hover {
	stroke: #c5358c;
}

@media (width <= 992px) {
	.special-offers__number {
		display: none;
	}
}

.special-offers__cart {
	width: 100%;
	border-radius: 3px;
	padding: 11px;
	color: #fff;
	background-color: #111;
	transition: background 0.4s;
}

.special-offers__cart:hover {
	background-color: #c5358c;
}

.special-offers__arrow-button {
	display: flex;
	padding-top: clamp(30px, 0.23rem + 8.77vw, 130px);
	gap: clamp(10px, 0.461rem + 0.88vw, 20px);
	padding-bottom: clamp(46px, 0.586rem + 9.77vw, 150px);
}

.special-offers__slider-button--prev {
	color: #111;
}

.special-offers__arrow {
	border: 1px solid;
	border-radius: 3px;
	padding: clamp(3px, 0.072rem + 0.61vw, 10px);
	width: clamp(23px, 0.763rem + 3.6vw, 64px);
	height: clamp(23px, 0.763rem + 3.6vw, 64px);
	transition:
		border-color 0.4s,
		color 0.4s;
}

.special-offers__arrow:hover {
	border-color: #c5358c;
	color: #c5358c;
}

.special-offers__slider-button--next {
	transform: translateY(-6%) rotate(180deg);
}

.special-offers__pages {
	position: relative;
	top: clamp(6px, 0.145rem + 1.23vw, 20px);
	left: 10px;
	font-size: clamp(9px, 0.316rem + 1.32vw, 24px);
}

@media (width <= 992px) {
	.special-offers__delate {
		display: none;
	}
}

@media (width > 575px) {
	.special-offers__page-delate {
		display: none;
	}
}

@media (width <= 575px) {
	.special-offers__product-delate,
	.special-offers__pages-delate {
		display: none;
	}
}
